@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.pokeContainer{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}
.pokeCard{
    flex-direction: column;
    background-color: #96d180;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}
#pokeName{
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
}
.pokeImage{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}
#pokeId{
    font-size: 1.2rem;
    color: #555;
    margin: 15px;
}
#pokeIdNumber{
    font-size: 1.2rem;
    color: #000000;
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30%;
    padding: 10px;
    
}

#pokeType{
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
}
#pokeHeight{
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
}
#pokeWeight{
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
}